@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Your custom styles */
[x-cloak] {
    display: none;
}

div.dataTables_filter {
    display: none;
}

@layer utilities {
    .scroll-snap-y-mandatory { scroll-snap-type: y mandatory; }
    .scroll-snap-align-start { scroll-snap-align: start; }
}